h1, h2, h3, h4, h5, h6 {
  font-family: "Inter", serif;
  font-weight: bolder;
  color: black;
}

p {
  font-family: "Roboto", serif;
  letter-spacing: 0.05em;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}
