h1, h2, h3, h4, h5, h6 {
  font-family: "Inter", serif;
  font-weight: bolder;
  color: black;
}

p {
  font-family: "Roboto", serif;
  letter-spacing: 0.05em;
}

a {
  text-decoration: none !important;
  color: inherit !important;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

.btn:focus, .btn-active {
  outline: none !important;
  box-shadow: none !important;
}

ul.dropdown-menu.show {
  border: none !important;
  box-shadow: 0 8px 18px -6px rgba(24, 39, 75, 0.12), 0px 12px 42px -4px rgba(24, 39, 75, 0.12);
  background: #f7f7f7;

  .dropdown-item {
    font-size: .9em;

    &:focus {
      background-color: darken(#f7f7f7, 20%);
    }
  }
}

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index';
