@import "variables";

h1, h2, h3, h4, h5, h6 {
  font-family: "Inter", serif;
  font-weight: bolder;
  color: black;
}

p {
  font-family: "Roboto", serif;
  letter-spacing: 0.05em;
}

a {
  text-decoration: none !important;
  color: inherit !important;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

.btn:focus, .btn-active {
  outline: none !important;
  box-shadow: none !important;
}

ul.dropdown-menu.show {
  border: none !important;
  box-shadow: $box-shadow;
  background: #f7f7f7;

  .dropdown-item {
    font-size: .9em;

    &:focus {
      background-color: darken(#f7f7f7, 20%);
    }
  }
}

.modal-body {
  padding: 0 !important;
}

.page-link {
  border: 0 !important;
  box-shadow: $box-shadow;

  &:focus {
    box-shadow: none !important;
    outline: none;
  }
}

.page-item.active .page-link {
  background: linear-gradient(90deg, rgba(243, 72, 104,1) 20.796875%,rgba(242, 71, 104,1) 20.796875%,rgba(158, 0, 236,1) 80.796875%);
  color: white !important;
}

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index';
